<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>

    <!-- to render and display use '=' -->
    <title>
      <%= title %>
    </title>
</head>

<!-- if we have to render and we dont wanna escape use '-'  -->

<body>
  <%- include('../partials/nav.ejs') %>
    <h1>This is Home page!</h1>
    <a href="/download">Download</a>
</body>

</html>